body {
    min-height: 100vh;
}

header {
    background-color: orange;
}

nav a {
    background-color: orangered;
    color: white;
    text-decoration: none;
}

main img {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

main .sucursales {
    text-align: left;
}

footer {
    background-color: orange;
    display: flex;
    height: 14vh;
    align-items: center;
}

ul {
    width: 30%;
    margin: auto;
    text-align: center;
    align-items: center;
    height: 100%;
    padding-top: 1.5%;
}

li {
    list-style: none;
    display: inline-block;
    align-items: center;
}

li img {
    width: 35px;
    height: 35px;
    border-radius: 30px;
}