body {
    display: flex;
    min-height: 100vh;
    flex-direction: column
        /* min-height: 100%;
    margin: 0 auto;
    max-width: 95%; */
}

header {
    background-color: orange;
}

a {
    background-color: orangered;
    color: white;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

footer {
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     display: flex;
    background-color: orange;
    justify-content: center; */
}

.social-media {
    width: 33%;
    display: flex;
}